.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 10px solid red  ; */
}

.seachbar-container {
  width: 250px;
  transition: width 0.3s;
}

.seachbar-container:focus-within {
  width: 400px;
  /* border: 10px solid red; */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 3px;
}

.list-item-text {
  color: rgba(0, 0, 0, 0.6);
}

.div-position {
  margin-left: 250px;
  margin-top: 78px;
  max-width: calc(100% - 250px);
  /* border: 1px solid red; */
}

.content-position {
  background-color: #e9ecef;
}

.subheader-main-container {
  background-color: #5e74e4;
  padding-bottom: 80px;
}

.subheader-btn {
  font-size: 13px;
  color: #5e72e4;
  font-weight: 600;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}

.subheader-btn:hover {
  color: rgb(49, 49, 49);
  transform: translate(0px, -2px);
}

.header-icon {
  padding-left: 30px;
}

.profile-image {
  width: 36px;
  height: 36px;
  background-image: url(https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.display-user img:hover {
  z-index: 10;
}

.table-head-style {
  padding-left: 24px;
}

.table-data-style {
  height: 49px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.table-data-border-top {
  border-top: 1px solid #e9ecef;
  /* border-bottom: 1px solid #e9ecef; */
}

.column-project-width {
  box-sizing: unset;
  min-width: 239px;
}

.column-budget-width {
  box-sizing: unset;
  min-width: 66px;
}

.column-status-width {
  box-sizing: unset;
  min-width: 120px;
}

.column-users-width {
  box-sizing: unset;
  min-width: 106px;
}

.column-completion-width {
  box-sizing: unset;
  min-width: 161px;
}

.project-icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.light-table {
  background-color: #fff;
}

.dark-table {
  background-color: #172b4d;
}

.light-table-caption {
  color: #32325d;
}

.dark-table-caption {
  color: #fff;
}

.light-table-head {
  background-color: #f6f9fc;
  border-color: #e9ecef;
  color: #8898aa;
}

.dark-table-head {
  background-color: #1c345d;
  border-color: #1f3a68;
  color: #4d7bca;
}

.light-table-data {
  color: #525f7f;
}

.dark-table-data {
  color: #f8f9fe;
}
